name: Latest Blog Posts

on:
  schedule:
    - cron: "0 0 * * *"  # 每天執行一次
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://agong.tech/index.xml"
          max_post_count: 5
          template: "- [$title]($url) — $date"
          date_format: "yyyy-MM-dd"
          commit_message: "Update latest blog posts"
